<html>
  <body>
    You'll need to download and install the pebble app onto your watch.<br /><br />
	
	You may also need me to add you as a tester to the facebook app<br />

    <a href="/beta/download/">Download PBW</a>
  </body>
</html>