<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Time Sync</title>
    <link rel='stylesheet' type='text/css' href='resources/css/main.css'>
  </head>
  <body>
    <div class="container">
      <div class="main"></div>
      <div class="side"></div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <div class="centre">
            <img src="resources/images/timeline_icon.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <p><a href="#">Get the Pebble app!</a></p>
        </div>
        <div class="cell">
          <div class="centre">
            <img src="resources/images/watch.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
          <div class="centre">
            <img src="resources/images/fb_logo.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <p><a href="https://github.com/DanForever/TimeSync">View the source code on Github!</a></p>
        </div>
        <div class="cell">
          <div class="centre">
            <img src="resources/images/github.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <p><a href="privacy-policy/">Privacy Policy</a></p>
        </div>
        <div class="cell">
          <div class="centre">
            <img src="resources/images/privacy.png"/>
          </div>
        </div>
      </div>
      <div class="row-last">
        <div class="cell">
          Watch and privacy icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </div>
        <div class="cell">
        </div>
      </div>
    </div>
  </body>
</html>
